// variables will follow

$body-background-color: navy;
$form-background-color: lightgray;
$input-color: navy;
$headlines-color : lightgray;

body {
    background-color: $body-background-color;
}

form {
    background-color: $form-background-color;

}

input[type="text"]
input[type="email"],
textarea {
    color: $input-color
}

h1 {
    color: $headlines-color;
}