@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

// Color Variables
$primary-color: #333;
$secondary-color: #666;
$border-color: #d0d0d0;
$link-hover-color: #00ddff;
$link-active-color: #deb887;

// Font Variables
$primary-font: Helvetica, Arial, sans-serif;
$secondary-font: "Lora", serif;

body {
  font-family: $primary-font;
  color: $primary-color;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  padding: 20px;
  text-align: center;

  h1,
  h2 {
    font-family: $secondary-font;
  }

  h1 {
    font-size: 4.5rem;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover,
      &:active,
      &:visited {
        color: $primary-color;
      }
    }
  }

  h2 {
    font-size: 1.8rem;
  }
}

nav {
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    text-transform: uppercase;
  }

  a {
    font-family: $secondary-font;
    color: $secondary-color;
    text-decoration: none;
    padding: 5px 0;

    &:visited {
      color: $secondary-color;
    }

    &:hover {
      color: $link-hover-color;
    }

    &:active {
      color: $link-active-color;
    }
  }
}

main {
  padding: 20px;

  article {
    margin-bottom: 40px;

    .post-date {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 1.8rem;
      text-align: right;
      border-bottom: 1px solid $border-color;
    }

    .post-content {
      padding-top: 10px;

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 10px 0;
      }

      p {
        font-size: 1rem;
      }

      a {
        color: $secondary-color;
        text-decoration: none;

        &:hover {
          color: $link-hover-color;
        }

        &:active {
          color: $link-active-color;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;

    li {
      margin-right: 20px;
    }
  }

  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;

    article {
      display: contents;

      .post-date {
        border-bottom: none;
      }

      .post-content {
        padding: 20px;
        padding-top: 0;
        border-bottom: 1px solid $border-color;
        border-left: 1px solid $border-color;
      }
    }
  }
}
