@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  padding: 20px;
  text-align: center;
}

h1,
h2 {
  font-family: "Lora", serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 1.8rem;
}

header h1 a {
  color: #333;
  text-decoration: none;
}

header h1 a:hover,
header h1 a:active,
header h1 a:visited {
  color: #333;
}

nav {
  padding: 10px 0;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav li {
  text-transform: uppercase;
}

nav a {
  font-family: "Lora", serif;
  color: #666;
  text-decoration: none;
  padding: 5px 0;
}

nav a:visited {
  color: #666;
}

nav a:hover {
  color: #00ddff;
}

nav a:active {
  color: #deb887;
}

main {
  padding: 20px;
}

article {
  margin-bottom: 40px;
}

.post-date {
  color: #333;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: right;
  border-bottom: 1px solid #d0d0d0;
}

.post-content {
  padding-top: 10px;
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.post-content p {
  font-size: 1rem;
}

.post-content a {
  color: #666;
  text-decoration: none;
}

.post-content a:hover {
  color: #00ddff;
}

.post-content a:active {
  color: #deb887;
}

@media (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
  }

  nav li {
    margin-right: 20px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  article {
    display: contents;
  }

  .post-date {
    border-bottom: none;
  }

  .post-content {
    padding: 20px;
    padding-top: 0;
    border-bottom: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
  }
}